<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Spring MVC Customer</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="card-body">
	<div class="card text-white bg-dark mb-3">
		<div class="card-header"><h1>Menú de Búsqueda de Clientes por Nombre</h1></div>
		<div class="card-body mb-3">
			<form th:action="@{./customerFounded}"
				th:object="${clienteConNombre}" method="POST">
				<div class="form-group">
					<label for="inpTname">Nombre del cliente</label> <input
						required="required" type="text" class="form-control" id="inpTname"
						name="name" placeholder="Juan">
				</div>
				<button type="submit" name="btnFindCustomer" class="btn btn-success">Buscar
					Cliente</button>
			</form>
		</div>
		<div>
			<button type="submit" class="btn btn-success">
				<a class="text-reset text-decoration-none"
					href="http://localhost:8080/home/customers/"> Volver al Menú
					Principal </a>
			</button>
		</div>
</body>
</html>