<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Spring MVC Customer</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="card-body">
		<div class="card text-black bg-light mb-3">
		  <div class="card-header"><h1>Menu Principal de Gestión de Clientes.</h1></div>
		<div class="card-body">
			<button type="submit" class="btn btn-success">
				<a class="text-reset text-decoration-none" href="./showCustomer/">
					Mostrar Clientes </a>
			</button>
			<button type="submit" class="btn btn-success">
				<a class="text-reset text-decoration-none"
					href="./createNewCustomer/"> Añadir Nuevo Cliente </a>
			</button>
			<button type="submit" class="btn btn-success">
				<a class="text-reset text-decoration-none" href="./findCustomer/">
					Buscar Clientes </a>
			</button>
		</div>
	</div>
	</body>
</html>